.BoldText
{
  font-weight : bold;
}  

canvas
{
	border 		: 	1px solid lightgray;
	margin 		: 	0 auto;
	width 		: 	1000px;
	height 		: 	500px;
	
	background-color 	: 	white;
}  

.main_menu_option
{
	margin 		: 	5px;
}

.documentBody
{
	font-family			: 	"Courier";
	background-color 	: 	white;
}

.mainLabel
{
	font-size: xx-large;
}

.selectionInfoPanel
{
	font-family			: "Courier";
}

